* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: transparent;
    outline: none;
}
body, body * {
    font-family: sans-serif;
}

.container {
    width: 1400px;
    margin: 0 auto;
}
header {
    height: 100px;
    >nav {
        display: flex;
        justify-content:space-between ;
        border-bottom: 1px solid rgb(225, 213, 213);
        div:first-child {
            display: flex;
            align-items: center;
            gap: 10px;
            height: 100px;
            > a {
                 font-size: 15px;
                 
                height: 50px;
                padding: 15px 10px;
                text-decoration: none;
                color: #5b5f66;
                gap: 10px;
                transition: all 0.9s;
                img {
                    width: 80px;
                    object-fit: contain;
                }
               

            }
            >a:hover{
                border-bottom: 1px solid #5b5f66;
              
            }
            >a :nth-child(1){
                width: 100px; 
            }
            > a:nth-child(4),a:nth-child(5),a:nth-child(6){
                padding: 0;
                margin-left: 20px;
                display: inline-flex;
                align-items: center;
            }
            
            >a :nth-child(2){
                width: 60px; 
            }
            >a :nth-child(5){
                width: 135px;
                height: 40px;
                padding: 50px 10px;
                
                >img{
               
                }
                
            }
            >a:last-child{
                border: 1px solid rgb(237, 113, 4);
                border-radius: 8px;
                height: 40px;
                width: 80px;
                padding: 5px 8px 5px 10px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                
            }
            >a:last-child:hover{
              background-color:  rgb(237, 113, 4);
              color: #fff;
            }

           
        }
        div:last-child{
            display: flex;
            align-items: center;
            gap: 10px;

            >button {
                border: none;
                font-size: 15px;
                // margin-right: 60px;
                display: flex;
                align-items: center;
                
            }
            button:nth-child(1){
                
                width: 96px;
                height: 45px;
                padding: 10px 20px 10px 10px ;
                border-right: 1px solid rgb(225, 213, 213);
                margin-right: 10px;
            }
            button:nth-child(2){
                
                // width: 220px;
                margin-right: 10px;
                height: 30px;
                gap: 10px;
                border-right: 1px solid rgb(225, 213, 213);
                padding-right: 10px;
                
                img {
                  width: 25px;
                  
                //   height: 25px;
                 
                }
                >p{
                    // width: 75%;
                    
                }
                >i{
                   
                }
            }
            >button:last-child{
               
                margin-left: 5px;
                
                >i{
                    margin-right: 5px;
                }
            }
           

        }
    }
}
#logo{

    display: flex;
    align-items: center;
    margin: 16px 0 24px ;
    width: 100%;

    > div {
        display: flex;
        align-items: center;
        width: 100%;

        > img {
            width: 109px;
            object-fit: contain;
            margin-right: 48px;
        }

        > button {
            border: none;
            outline: none;
            background-color: #40b659;
            color: #fff;
            border-radius: 8px;
            padding: 0 16px;
            height: 45px;
            font-size: 16px;
            margin-right: 16px;

            > i {
                margin-right: 10px;
            }
        }

        .search {
            flex-grow: 1;
            border: 1px solid #ccc;
            height: 45px;
            border-radius: 5px;
            padding: 0 10px;
            background-color: #f3f3f3;
            margin-right: 48px;

            >label {
                display: flex;
                align-items: center;
                height: 100%;
                width: 100%;

                >div {
                    width: 1px;
                    height: 30px;
                    background-color: #ccc;

                }

                > input {
                    width: 100%;
                    border: none;
                    outline: none;
                    margin-right: 10px;
                    background: transparent;
                }

                > i {
                    margin-left: 10px;
                    color: #ccc;
                }
            }
        }
        >div {
            display: flex;
            > a {
                display: flex;
                flex-direction: column;
                text-align: center;
                text-decoration: none;
                color: #333;

                > span {
                    margin-top: 5px;
                    font-size: 14px;
                }
                
            }
            > a:not(:last-child) {
                margin-right: 30px;
            }
           .monthpay{
            width: 100px;
            height: 60px;
            transition:all ease-in .3s;
            border:1px solid #40b659;
            border-radius: 8px;
            >i{
                padding-top: 10px;
            }
           }
           .monthpay:hover{
            background-color: #40b659;
            color: #fff;
           }
           
        }
    }
}

#advertising{
    >div{
        width: 100%;
        height: 40vh;
        display: flex;
        .firstadvertising{
            >img{
                width: 869px;
                height:419px ;
                margin-left: 80px;
                border-radius:1px ;
            }
        }
        .boss{
            height: 420px;
            width: 380px;
            //background-color: #209f3c;
            margin-left: 30px;
            border-top: 20px;
            // padding-left: 20px;
            // padding-top: 20px;
           border-radius: 10px;
           border: 2px solid #ffd436;
          
            .basliq{
                height: 40px;
                width: auto;
                background-color: #ffd436;
                padding-left: 20px;
             padding-top: 10px;
             border-top-right-radius: 10px;
             border-top-left-radius: 10px;
            
             >span{
                margin-left: 90px;
                
             }
            
            }
            
        .secondadvertising{
            width: 380px;
            height: 400px;
            //  background-color: #40b659;
        
            }
            >h1{
                margin-top: 30px;
                margin-left: 30px;
            }
            >img{
                display: block;
                width: 10px;
                height: 100px;
                margin-top: 100px;
                
                 
            }
            .noprice{
                display: block;
                text-decoration:line-through;
                
                margin-left: 20px;
            }
            .price{
              display: inline-block;
              margin-left: 20px;
            }
        }
    }
}  
#logos{
    >div{
        margin-left: 80px;
        width: 1280px;
        height: 120px;
        background-color:#fafbfc;; 
        
        margin-top: 150px;
        display: flex;
        >div{
            flex-direction: column;
            margin-left: 50px;
           width: 160px;
           height: 119px;
           display: flex;
           justify-content: center;
           align-items: center;
           border-right:1px solid #ccc;
           >div:not(:last-child){
            border-right:1px solid #ccc;
           }
            >i{
                background-color: #fff;
                font-size: 40px;
                color: #40b659;
                width: auto;
            }
        }
    }
}
#product{
    >div{
        border-radius: 10px;
        height: 110vh;
        width: 1280px;
        
        margin-left: 80px;
        >div{
            display: flex;
            justify-content:flex-start;
            background-color: #fafbfc;
            height: 40px;
            >h1{
                margin-left: 20px;
                margin-top: 20px;
                display: inline;
               
               
            }
        }
       >div{
        margin-top: 40px;
       display: flex;
       height: auto;
        >div{
            
            width: 320px;
            height: 700px;
            border: 1px solid #ccc;
            position: relative;
            >i{
                font-size: 25px;
                position: absolute;
                color: #95979c;
                right: 0px;
            }
           
            >i:first-child{
               
                right: 35px;
               
            }
           
            >img{
                padding-top: 40px;
            }
            >h5{
                color: #95979c;
                padding-left: 10px;
            }
            >h3{
                padding-left: 10px;
            }
            >div{
                color: orange;
                padding-left: 10px;
                padding-top: 20px;
                position: relative;
                
                >i:last-child{
                    color: #ccc;
                    margin-left: 30px;
                }
                >button{
                    display:block;
                    margin-top: 20px;
                    border:1px solid #3192ec;
                    color: #3192ec;
                    border-radius: 5px;
                    width: 100px;

                }
                >button:last-child{
                    position: absolute;
                    right: 100px;
                    top: 40px;
                    background-color:  rgba(23, 67, 223, .07);
                    border: none;
                    color: #0e6ec8;
                    
            
                }
                .nopri{
                    display: inline;
                    text-decoration: line-through;
                }
            }
            >div{

                .btn{
                  margin-top: 80px;
                  width: 150px;
                  height: 40px;
                  border-radius: 10px;
                  background-color: #40b659!important;
                  color: #fff !important;
                  border-color: #40b659;
                }
                .btn:hover{
                    
                    background-color: #fff!important;
                    color: #40b659!important;
                    
                    border: 1px solid #40b659;
                  }
               
               
            }
            
        }
    }
    }
}
#mark{
    width: 1280px;
    height: 15vh;
    
    margin-left: 80px;
    margin-top: 120px; 
       >div{
       display: flex;
>div{
    width: 50px;
    height: 105px;
    background-color: #40b659;
    border-right: 1px solid #ccc;
    margin-right: 150px;
    border-radius: 10px;
   
    >img{
        border: 1px solid #ccc;
        width: 180px;
        height: 105px;
        margin-right: 5px;
        border-radius: 10px;
    }
}
}
}
#bestsellproduct{
    >div{
        border-radius: 10px;
        height: 110vh;
        width: 1280px;
        
        margin-left: 80px;
        >div{
            display: flex;
            justify-content:flex-start;
            background-color: #fafbfc;
            height: 40px;
            >h1{
                margin-left: 20px;
                margin-top: 20px;
                display: inline;
               
               
            }
        }
       >div{
        margin-top: 40px;
       display: flex;
       height: auto;
        >div{
            
            width: 320px;
            height: 700px;
            border: 1px solid #ccc;
            position: relative;
            >i{
                font-size: 25px;
                position: absolute;
                color: #95979c;
                right: 0px;
            }
           
            >i:first-child{
               
                right: 35px;
               
            }
           
            >img{
                padding-top: 40px;
            }
            >h5{
                color: #95979c;
                padding-left: 10px;
            }
            >h3{
                padding-left: 10px;
            }
            >div{
                color: orange;
                padding-left: 10px;
                padding-top: 20px;
                position: relative;
                
                >i:last-child{
                    color: #ccc;
                    margin-left: 30px;
                }
                >button{
                    display:block;
                    margin-top: 20px;
                    border:1px solid #3192ec;
                    color: #3192ec;
                    border-radius: 5px;
                    width: 100px;

                }
                >button:last-child{
                    position: absolute;
                    right: 100px;
                    top: 40px;
                    background-color:  rgba(23, 67, 223, .07);
                    border: none;
                    color: #0e6ec8;
                    
            
                }
                .nopri{
                    display: inline;
                    text-decoration: line-through;
                }
            }
            >div{

                .btn{
                  margin-top: 80px;
                  width: 150px;
                  height: 40px;
                  border-radius: 10px;
                  background-color: #40b659!important;
                  color: #fff !important;
                  border-color: #40b659;
                }
                .btn:hover{
                    
                    background-color: #fff!important;
                    color: #40b659!important;
                    
                    border: 1px solid #40b659;
                  }
               
               
            }
            
        }
    }
    }
}
#youtube{
    >div{
        
        border-radius: 10px;
        height: 60vh;
        width: 1280px;
        
        margin-left: 80px;
        >div{
            display: flex;
            justify-content:flex-start;
           
            height: 40px;
            >h1{
                margin-left: 20px;
                margin-top: 20px;
                display: inline;
               
            }
            >h1:last-child{
                color: rgb(194, 187, 187);
               
            }
        }
       >div{
        margin-top: 40px;
       display: flex;
       height: auto;
        >div{
            margin-right: 90px;
            width: 338px;
            height: 260px;
            
            
            position: relative;
            >button{
                width: 70px;
                height: 80px;
                font-size: 30px;
                position: absolute;
                right: 134px;
                top: 140px;
                margin-right: 20px;
               border-radius: 50%;
               background-color: #fff;
               >i{
                color: #40b659;
               }
            }
            >i:not(:last-child){
                margin-right: 20px;
            }
            >img{
                padding-top: 40px;
                width: 338px;
                height: 300px;
            
            }
           >.text1{
            width: 30px;
            height: 15px;
           }
        }
    }
    }
}
#text{
    >div{
        width: 1280px;
        margin-left: 80px;
        display: flex;
        >div{
            width: 400px;
            
        }
        >div:nth-child(2){
            margin-left: 20px;
        }

    }
}
#qr{
    >div{
        width: 1280px;
        margin-left: 80px;
        background-color: #393e4a;
        height: 330px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
      
        >div{
            width: 675px;
            margin-right: 100px;
           
           
        >h1{
           color: #fff;
           width: 550px;
           margin-left: 20px;
        }
        >button{
            width: 180px;
            height: 40px;
            background-color: #40b659;
            border-radius: 8px;
            margin-top: 20px;
            color: #fff;
            margin-left: 20px;
            transition: all ease-in .3s;
        }
        >button:hover{
            background-color: #393e4a;
            border-color: #40b659;
        }
       
    }
    >div{
        width: 204px;
        height: 17.6;
        border-radius: 8px;
        
        >img{
            
        }
      >h4{
        color: #fff;
      }
        
    }
    
    }
    }
    

footer{
    width: 100%;
    height: 90vh;
    background-color: #18181a;
    margin-top: 100px;
    >div{
        height: 515px;
        width:100%;
        margin-top: 90px;
        
        display: flex;
        >div{
            border: #18181a;
                width: 250px;
                height: 300px;
               
                margin-left: 60px;
                margin-top: 30px;
               
        }
        >div:first-child{
            >img{
                padding-left: 50px;
                padding-top: 30px;
            }
            h3{
                color: #fff;
                padding-left: 10px;
            }
        }
        >div:nth-child(2){
            h1{
                color: #fff;
            }
            >ul{
                >li{
                    list-style: none;
                    color: #95979c;
                    margin-top: 10px;
                    width: 145px;
                }
                >li:hover{
                   border-bottom:1px solid #fff;
                    cursor: pointer;
                }
            }
        }
        >div:nth-child(3){
            h1{
                color: #fff;
            }
            >ul{
                >li{
                    list-style: none;
                    color: #95979c;
                    margin-top: 10px;
                    width: 136px;
                }
                >li:hover{
                    border-bottom:1px solid #95979c;
                    cursor: pointer;
                }
            }
        }
        >div:last-child{
            width: 400px;
            >div:first-child{
                width: 100%;
                height: 50%;
                border-bottom: 1px solid #5b5f66;
               >h1{
                color: #fff;
               }
                >img{
                    width: 70px;
                    height: 3dvh;
                    color: #fff;
                    margin-top: 40px;
                }
             
                    >i{
                        color: #fff;
                        margin-top: 60px;
                        margin-left: 20px;
                        border: 1px solid #333;
                        font-size: 30px;
                        border-radius: 50%;
                       
                    }
                
                >p{
                    font-size: 10px;
                    display: inline-block;
                    margin-top: 40px;
                    margin-left: 20px;
                    color: #fff;

                }
            }
            >div:last-child{
                >h3{
                    color: #fff;
                }
                i{
                    margin-top: 30px;
                    margin-left: 20px;
                    font-size: 20px;
                    color: #fff;
                }
                i:not(:first-child){
                    margin-left: 20px;

                }
                >button{
                    margin-top: 20px;
                    margin-left: 20px;
                    border: 1px solid #fff;
                    color: #fff;
                    width: 110px;
                    height: 40px;
                    >i{
                        margin-top: 4px;
                        margin-left: 11px;
                        font-size: 20px;
                        color: #fff;
                    }
                }
               
            }
        } 
       
    }
    >img{
        width: 100px;
            height: 40px;
            
            margin-left: 40px;
           
    }
    >span{
        margin-left: 180px;
        color: #fff;
        >img{
            width: 15px;
            height: 10px;
        }
    }
}